@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

canvas{
    z-index: 10;
}

body
{
/*    background: #2b1055;*/
    min-height: 1500px;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

h2
{
    font size: 2em;
}

.logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px, 15px;
    color: #fff;
}

header ul li a:hover
{
    background: #fff;
    color: #2b1055;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section::before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1;
}

section::after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 10;
    mix-blend-mode: color;
}*/

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* Home page text */
#text
{
    position:absolute;
    align-items: center;
    color: #fff;
    font-size: 8em;
    z-index: 50;
}

#snow4
{
    z-index: 5;
}

#snow3
{
    z-index: 6;
}

#snow2
{
    z-index: 11;
}

#snow1
{
    z-index: 12;
}


/* Explore button */
#explore
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: black;
    font-size: 1.5em;
    z-index: 7;
    transform: translateY(100px);
}

#heading
{
    font-size: 2.5em;
    color:azure;
}


#paragraph
{
    overflow-wrap: normal;
    font-size: 1.2emp;
    color:aqua;
}


.sec
{
    width: 100%;
    height: 100vh;
}


/* Information page*/

.info
{
    /*position: relative;*/
    /*margin-top: 50px;*/
    padding: 30px 100px;
}

/* RSVP page */

.rules
{
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}

/* RSVP page */

.rsvp
{
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}


/* About page*/

.about
{
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    
}



